

/*aprox sublime*/
.monokai {
	color: #f8f8f2;
	background: #272822;
	font-family:'Courier New';
	font-size:12pt;
}

.sepia {
    color: #5b4636;
    background: #f4ecd8;
    font-family:'Liberation Mono';
}

.dark {
    color: #eeeeee;
    background: #333333;
}

.chords {color:#21409a;}